/*----------------------------------------------Header-------------------------------------*/
.row1, .row1   a{color:#C0BAB6; background-color:#333333;}
#header nav{display:block; width:100%; margin:10px; padding:10px; }
#header nav li{display:inline; margin-right:100px; }
#header nav li a:hover{color:#FF9900; background-color:#333333;}
#header {display:block; width:auto; margin:auto;}


/*----------------------------------------------ΠΑΡΑΓΡΑΦΟΙ-------------------------------------*/

.firstP , .secondP , .thirdP , .fourthP , .fifthP { font-size: 20px; text-align: left; }
/*----------------------------------------------ΓΕΝΙΚΑ-------------------------------------*/



body {background-color:white;}

.footer {
	background: :#333333;
	color: white;
	height: 250px;
}


/*----------------------------------------------ΑΛΛΑΓΗ ΕΙΚΟΝΑΣ ΜΟΤΙΒΟ ΑΝΑΛΟΓΑ ΜΕ ΤΟ ΜΕΓΕΘΟΣ ΤΗΣ ΟΘΟΝΗΣ-------------------------------------*/


#main-img {
  
  height: 190px;
  width:100%
} 

@media screen and (max-width: 767px) {   
    #main-img{
    	background-image: url(http://subtlepatterns.com/patterns/dark_embroidery.png);
    } 
	h1 {color:white;}
}

@media screen and (min-width: 768px) {      
    #main-img{      
    	background-image: url(http://subtlepatterns.com/patterns/dark_embroidery.png);
    } 
} 
@media (min-width: 769px) {      
      #main-img{        
          background-image: url(http://subtlepatterns.com/patterns/paisley.png);
      } 
}
