/*----------------------------------------------Header-------------------------------------*/
.row1, .row1   a{color:#C0BAB6; background-color:#333333;}
#header nav{display:block; width:100%; margin:10px; padding:10px; }
#header nav li{display:inline; margin-right:100px; }
#header nav li a:hover{color:#FF9900; background-color:#333333;}
#header {display:block; width:auto; margin:auto;}


/*----------------------------------------------ΠΑΡΑΓΡΑΦΟΙ-------------------------------------*/

.firstP , .secondP , .thirdP , .fourthP , .fifthP { font-size: 20px; text-align: left; }
/*----------------------------------------------ΓΕΝΙΚΑ-------------------------------------*/

.footer {
	background-color :#333333;
	height: 70px;
}

.contact-form { color: white; font-size: 25px; text-align: center; }

 .ParagraphALL { border-right: 5px solid ;
				border-left: 5px solid ;
				border-color: #333333;
				border-width: 80%;
				position: relative;}
hr {
background-color:#c9c9c9; height:2px; border:0; width: 99% }

/*----------------------------------------------ΑΛΛΑΓΗ ΕΙΚΟΝΑΣ ΜΟΤΙΒΟ ΑΝΑΛΟΓΑ ΜΕ ΤΟ ΜΕΓΕΘΟΣ ΤΗΣ ΟΘΟΝΗΣ-------------------------------------*/


#main-img {
  
  height: 190px;
  width:100%
} 

@media screen and (max-width: 767px) {   
    #main-img{
    	background-image: url(http://subtlepatterns.com/patterns/dark_embroidery.png);
    } 
	.ParagraphALL {color: white; background-color:gray;} 
}

@media screen and (min-width: 768px) {      
    #main-img{      
    	background-image: url(http://subtlepatterns.com/patterns/dark_embroidery.png);
    } 
} 
@media (min-width: 769px) {      
      #main-img{        
          background-image: url(http://subtlepatterns.com/patterns/paisley.png);
      } 
}
